body {
  /* margin: 0; */
  font-family: "Arial", sans-serif;
  background-color: #bcc0ff;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #1a306d;
  padding: 0.5rem 2rem 1.5rem;
  border-radius: 3rem;
  width: 350px;
  text-align: start;
}

.logo img {
  width: 5rem;
  height: 5.2rem;
}
.logo {
  margin-bottom: 1rem;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
  border-radius: 0.7rem;
}

.input-group input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 100px 12px 50px;
  border: none;
  border-radius: 8px;
  background-color: #bccdff;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.password {
  margin-bottom: 2rem;
}

.domain {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.lock {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}

.fa-user {
  color: #1a306d;
  font-size: 1.5rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.fa-eye {
  color: #1a306d;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.link {
  text-align: right;
  margin-bottom: 20px;
}

.link a {
  color: #aaa;
  font-size: 14px;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #3b43dc;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.7rem;
  font-size: 16px;
  cursor: pointer;
}

.signup {
  margin-top: 0.625rem;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}

.signup a {
  color: #bfc3cf;
  text-decoration: underline;
  text-decoration: none;
  padding: 0rem 2.7rem 0.5rem;
}
.forgot-password {
  border-right: 3px solid #3b43dc;
}
.error-message {
  color: rgb(255, 0, 0);
  font-size: 12px;
  margin-top: 5px;
  display: none;
}
