body {
  font-family: "Pretendard Variable", sans-serif;
  background-color: #ebecff;
  color: #ccc;

  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a306d;
  padding: 0.4rem;
  border-radius: 3rem;
  width: 36vw;
  height: 4vw;
  margin-top: 5vw;
}

.header a {
  color: inherit;
  text-decoration: none;
}
.item {
  display: flex;
  justify-content: center;

  align-items: center;

  width: 18vw;
  height: 4vw;
  font-size: 1.6vw;
}

.acquisition {
  color: #f2f3ff;
}

.lost {
  background-color: #f2f3ff;
  color: #1a306d;
  border-radius: 3rem;
}

.lostname input {
  width: 46.6vw;
  height: 4.17vw;
  border-radius: 1.5rem;
  border: 0;
  padding: 0rem 1rem;
}

.explanation textarea {
  width: 46.6vw;
  height: 26vw;
  border-radius: 1.5rem;
  border: 0;
  padding: 0.5rem 1rem;
  font-family: "Pretendard Variable", sans-serif;
  font-style: Pretendard Variable, sans-serif;
  resize: none;
}
